<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Home</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container text-center"> <!-- Adicionando a classe text-center -->
        <h1>Welcome to the PDF Extractor API</h1>
        <h2>The API should include the following functionalities:</h2>
        <p>- Receive a PDF file.</p>
        <p>- Extract the first 30 lines of the PDF.</p>
        <p>- Send an email with the extracted content to the provided email address.</p>
        <a href="/form" class="button">Click here to test the API</a>
    </div>
</body>
</html>
